* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    background: rgb(204, 204, 204);
    color: rgb(63, 63, 63);
}
.container {
    padding-left: 5rem;
    padding-right: 5rem;
}
section, .section {
    padding-top : 5rem;
    padding-bottom: 2rem;
}
.sectionTitle {
    font-size: 1.8rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.button {
    text-transform: capitalize;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border: 2px solid rgba(63, 63, 63, 0.5);
    background: none;
    cursor: pointer;
    transition: all .2s ease-in;
    color: rgb(63, 63, 63, .8);
    margin-top: 2rem;
    border-radius: .3rem;
}
.button:hover {
    background: rgb(63, 63, 63, 0.8);
    color: rgb(199, 199, 199);
}

.navLink::after, .active::after, h2::after {
    content: "";
    width: 0%;
    background: linear-gradient(to right, transparent, rgb(63, 63, 63), rgb(63, 63, 63), transparent);
    height: .15rem;
    display: block;
    transition: width .2s ease-in;
}
.navLink:hover::after, .active::after, h2::after {
    width: 100%;
}
nav {
    width: 100%;
    height: auto;
    font-size: 1rem;
    background: rgb(0, 184, 160, .95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid rgba(97, 97, 97, 0.1);
    position: fixed;
    z-index: 1;
}
.logo {
    flex: 1;
    margin-left: 2rem;
    margin-right: 2rem;
}
.logo img {
    width: 100%;
    vertical-align: middle;
}
.navBar {
    flex: 5;
}
.navMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.navItem {
    padding: .5rem 1rem;
    text-transform: uppercase;
    margin: 1rem;
}
.navLink {
    color: rgb(63, 63, 63);
    letter-spacing: .09rem;
    font-weight: 700;
}

header {
    height: 95vh;
    background: rgb(0, 184, 160);
    clip-path: polygon(0 0, 0 80%, 50% 100%, 100% 80%, 100% 0);
}

header .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slides {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sliderText {
    flex-basis: 40%;
}
.sliderImage {
    flex-basis: 30%;
}
.sliderImage img {
    width: 100%;
    clip-path: circle();
    border: 2.5rem solid rgba(124, 124, 124, 0.1);
    border-radius: 50%;
}

.heading {
    font-size: 3.2rem;
}
.description {
    font-size: 1rem;
    margin-top: 1.5rem;
    text-align: justify;
}
header .button:hover {
    color: rgb(0, 184, 160, .8);
}

.cardDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.card {
    flex-basis: 20%;
    padding: 1.5rem 2.5rem;
    background: rgb(58, 58, 58, .1);
    border-bottom: 2.5px solid rgb(58, 58, 58, .4);
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s ease-in;
    text-align: center;
}
.card:hover {
    box-shadow: 0 0 5px 2px rgb(0, 184, 160);
    background: rgb(0, 184, 160, 0.1);
}
.card img {
    width: 100%;
    border-radius: 0.5rem;
}
.cardBody {
    position: relative;
    overflow: hidden;
}

.serviceTitle {
    font-size: 1.5rem;
    margin-top: 2rem;
}
.serviceDes {
    font-size: .8rem;
    margin-top: .5rem;
}

.workDes {
    width: 100%;
    height: 20%;
    background: rgb(0, 184, 160, .7);
    font-weight: bold;
    font-size: .8rem;
    position: absolute;
    padding: 0 .5rem;
    bottom: 0;
    opacity: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    transition: all .3s ease-in;
    border-bottom: 2px solid rgba(0, 75, 65, 0.7);
}
.cardBody:hover .workDes {
    opacity: 100%;
}

.about {
    background: #333;
    clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0 100%);
    color: rgb(194, 194, 194);
}

footer {
    background: rgb(32, 32, 32);
    color: rgb(209, 209, 209);
    padding: 1rem;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
    border-top: 1px solid rgba(187, 187, 187, 0.2);
}